body {
    line-height: 1.5;

    img {
        display: block;
    }

    font-family: "Roboto",
    'Noto Sans TC',
    sans-serif;

    a {
        text-decoration: none;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}