<div class="footer-bg">
    <div class="container">
        <div class="footer-bar">
            <ul>
                <li>首頁</li>
                <li>系列鏡框</li>
                <li>門市據點</li>
                <li>部落格</li>
                <li>常見問題</li>
            </ul>
            <ul>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt=""></a></li>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></a></li>
                <li><a href="#"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></a></li>
            </ul>
        </div>
        <div class="contact-info">
            <div>
                <span class="material-symbols-outlined">call</span>
                <p>0800-000-000</p>
            </div>
            <div>
                <span class="material-symbols-outlined">mail</span>
                <p>glasses@business.com</p>
            </div>
        </div>
        <div class="policy">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li>隱私權政策</li>
                <li>服務條款</li>
            </ul>
        </div>
    </div>
</div>