<div class="nav-bg">
    <div class="container nav">
        <a href="https://roger8426.github.io/glasses/index.html"><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                alt="LOGO"></a>
        <ul>
            <li><a href="https://roger8426.github.io/glasses/products-optical.html">系列鏡框</a></li>
            <li><a href="https://roger8426.github.io/glasses/store.html">門市據點</a></li>
            <li><a href="https://roger8426.github.io/glasses/blog.html">部落格</a></li>
            <li><a href="https://roger8426.github.io/glasses/question.html">常見問題</a></li>
        </ul>
    </div>
    <ul class="nav-mobile">
        <li><a href="https://roger8426.github.io/glasses/products-optical.html">系列鏡框</a></li>
        <li><a href="https://roger8426.github.io/glasses/store.html">門市據點</a></li>
        <li><a href="https://roger8426.github.io/glasses/blog.html">部落格</a></li>
        <li><a href="https://roger8426.github.io/glasses/question.html">常見問題</a></li>
    </ul>
</div>