.slogan-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  width: 100%;
  height: 787px;
  background-size: cover;
  background-position: center;
}
.center {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #650300;
  h3 {
    font-size: 36px;
  }
  h1 {
    font-size: 64px;
    font-weight: bolder;
  }
  p {
    font-size: 20px;
    background: #AA0601;
    color: white;
    margin-top: 4px;
    padding: 6px 12px;
  }
}
.service-bg {
  padding: 80px 0;
  background: #FBF2F2;
}
h2 {
  font-size: 48px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: bold;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #650300;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    li {
      width: 306px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  img {
    width: 84px;
    height: 84px;
    margin-top: 36px;
    margin-bottom: 27px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
  }
  p {
    color: #000000;
  }
}
.classic {
  padding: 80px 0;
  font-weight: bold;
  h2 {
    color: #650300;
    margin-bottom: 48px;
  }
  img {
    height: 416px;
    width: 416px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 48px;
      margin-top: 8px;
      color: #AA0601;
      text-align: center;
      font-style: italic;
    }
  }
}
.co-branding {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  font-weight: bold;
  padding: 80px 0;
  h2 {
    color: white;
  }
  .brand-img {
    display: flex;
    height: 240px;
    img {
      width: 50%;
      height: 100%;
    }
  }
  .brand {
    display: flex;
    background: white;
    p {
      width: 50%;
      text-align: center;
      font-size: 48px;
      color: #AA0601;
      font-style: italic;
    }
  }
}
.recommend {
  padding: 80px 0;
  img {
    height: 306px;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 306px;
      border: 1px solid #DEE2E6;
      border-radius: 4px;
      box-shadow: 0px 2px 6px #00000029;
    }
    p:nth-child(3) {
      font-size: 14px;
      color: #707070;
    }
  }
  .name {
    margin-bottom: 8px;
  }
  .recommend-box {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px;
  }
}
.contact-bg {
  background: #FBF2F2;
  padding: 80px 0;
  h2 {
    color: #650300;
  }
  .contact {
    width: 636px;
  }
  p {
    margin-bottom: 24px;
  }
  input {
    margin-bottom: 16px;
    width: 100%;
    background: #FBF2F2;
  }
  .checkbox {
    width: 13px;
  }
  .submit {
    width: 416px;
    margin: 0 auto;
    input {
      margin-top: 32px;
      padding: 16px 0;
      background: #AA0601;
      color: white;
    }
  }
}