.shape ul {
    font-size: 32px;
    display: flex;
    font-weight: bold;

    li {
        width: 33%;
        text-align: center;
        border-left: solid 1px #DCDCDC;
        border-right: solid 1px #DCDCDC;
    }

    a {
        color: #000;
        display: block;
        padding: 24px 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .active {
        border-bottom: 8px solid #AA0601;
    }
}

.optical-img {
    display: flex;

    img {
        width: 50%;
        height: auto;
    }
}

.optical-img-mobile {
    display: none;

    img {
        width: 50%;
        height: auto;
    }
}

.pro-title {
    h1 {
        font-size: 42px;
        text-align: center;
        font-weight: bold;
        margin-top: 80px;
    }

    h2 {
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 32px;
    }
}

.pro-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 24%;

        img {
            width: 100%;
            height: auto;
        }

        .model {
            display: flex;
            justify-content: space-between;
            font-size: 24px;

            p:nth-child(2) {
                color: #AA0601;
            }
        }

        .color {
            display: flex;
            margin-bottom: 80px;

            .color1,
            .color2 {
                width: 24px;
                height: 24px;
                border-radius: 4px;
            }

            .color1 {
                background: #5F3E2D;
                margin-right: 8px;
            }

            .color2 {
                background: #B75929;
            }
        }
    }

    li:nth-child(4n+1) {
        padding-left: 0;
    }

    li:nth-child(4n+4) {
        padding-right: 0;
    }
}

.sun-list li {
    width: 32%;
}

.page {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    ul {
        font-size: 18px;
        display: flex;
        justify-content: space-between;

        li {
            border: 1px solid #555555;
        }
    }

    a {
        color: #555555;
        display: block;
        text-align: center;
        padding: 12px 16px;
    }

    .pre,
    .next {
        font-size: 19px;
    }

    .active {
        background: #000;

        a {
            color: #fff;
        }
    }
}

@media(max-width: 992px) {
    .pro-list li {
        width: 48%;
    }
}

@media(max-width: 768px) {
    .shape ul a {
        font-size: 24px;
        padding: 16px 0;
    }

    .optical-img {
        display: none;
    }

    .optical-img-mobile {
        display: flex;
    }
}

@media(max-width: 576px) {
    .pro-title h1 {
        margin-top: 40px;
    }

    .shape ul a {
        font-size: 16px;
    }

    .pro-list li {
        width: 100%;
    }

    .page ul {
        font-size: 16px;

        li {
            width: 40px;

            a {
                padding: 12px 0;
            }
        }

        .pre,
        .next {
            width: 75px;
        }
    }
}