.shape ul {
    font-size: 32px;
    display: flex;
    font-weight: bold;

    li {
        width: 33%;
        text-align: center;
        padding: 24px 0;
        border-left: solid 1px #DCDCDC;
        border-right: solid 1px #DCDCDC;
    }
}

.optical-img {
    display: flex;

    img {
        width: 50%;
        height: 296px;
    }
}

.pro-title {
    h1 {
        font-size: 42px;
        text-align: center;
        font-weight: bold;
        margin-top: 80px;
    }

    h2 {
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 32px;
    }
}

.pro-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;

    .pro {
        padding: 0 12px;

        img {
            width: 306px;
            height: 168px;
        }

        .model {
            display: flex;
            justify-content: space-between;
            font-size: 24px;

            p:nth-child(2) {
                color: #AA0601;
            }
        }

        .color {
            display: flex;
            margin-bottom: 80px;

            .color1,
            .color2 {
                width: 24px;
                height: 24px;
                border-radius: 4px;
            }

            .color1 {
                background: #5F3E2D;
                margin-right: 8px;
            }

            .color2 {
                background: #B75929;
            }
        }
    }
}

.page {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    ul {
        display: flex;
        font-size: 19px;
        color: #555555;

        li {
            padding: 10px 16px;
            border: 1px solid #555555;
        }
    }
}